* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    cursor: default;
}
html {
    scroll-behavior: smooth;
    font-size: 16;
}
body {
    background-color: bisque;
    color: #d1d5db;
}
a {
    text-decoration: none;
}
ul {
    list-style: none;
}
.no-break {
    white-space: nowrap;
    flex-wrap: nowrap;
}

/* === Nav Bar === */

nav {
  background-color: #ffffff;
  height: 4rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 9999;
  border-bottom: #1f2937 solid 1px;
}

main {
  margin-top: 65px;
  min-height: 100vh;
}

.responsive-nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 1400px;
  padding: 0 20px;
  margin: 0 auto;
}

nav div p {
  font-size: 1.125rem;
  font-weight: 5500;
}

nav ul {
  display: flex;
  gap: 30px;
}

nav ul li a {
  font-weight: 500;
  font-size: 1.125rem;
  color: #000000;
}

#navname {
  font-size: 1.563rem;
  background: linear-gradient(90deg,rgba(1, 161, 80, 1) 0%, rgba(57, 66, 13, 1) 49%, rgba(231, 25, 64, 1) 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: bold;
}

nav ul li a {
  position: relative;
}

nav ul li a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -4px;
  width: 0%;
  height: 3px;
  border-radius: 2px;
  background: linear-gradient(
    122deg,
    rgba(0, 9, 171, 1) 0%,
    rgba(65, 0, 122, 1) 100%
  );
  transition: width 0.3s ease;
}

nav ul li a:hover::after {
  width: 100%;
}